@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  max-width: 1213px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: -2px;
  transition: 0.2s;
}

#logo:hover {
  fill: #6c63ff;
  color: #6c63ff;
}

#logo svg {
  width: 36px;
  height: 36px;
}

#logo span {
  margin-left: -2px;
  font-size: 1.125rem;
  font-weight: 600;
}

.nav-bar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar nav ul li {
  margin-left: 30px;
}

.nav-bar nav ul li:first-child {
  margin-left: 0px;
}

.nav-bar nav ul li a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  transition: 0.2s;
}

.nav-bar nav ul li a:hover {
  color: #fff;
  background: #000;
}

.button {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 10px 30px;
  border: 1px solid #6c63ff;
  background: #6c63ff;
  transition: 0.2s;
}

.button:hover {
  background: #fff;
  color: #6c63ff;
}

header {
  position: fixed;
  top: 0;
  transition: 0.5s;
}

.sticky {
  background: #fff;
  z-index: 20;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.sticky #logo {
  fill: #6c63ff;
  color: #6c63ff;
}

.sticky #logo:hover {
  fill: #000;
  color: #000;
}

.text-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  margin-top: 125px;
}

#security {
  padding-top: 125px;
}

#security img {
  max-width: 600px;
  width: 50%;
  height: 400px;
}

.text-area {
  width: 550px;
}

.text-area h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.875rem;
  margin-bottom: 20px;
}

.one-colored h2 span {
  color: #6c63ff;
}

.all-colored h2 {
  color: #6c63ff;
}

.left-space {
  margin-left: 100px;
}

.right-space {
  margin-right: 100px;
}

#experts {
  padding-top: 125px;
  margin-top: 15px;
  margin-bottom: 300px;
}

.header-experts {
  text-align: center;
  margin-bottom: 40px;
}

.header-experts h2 {
  color: #6c63ff;
  font-size: 1.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  margin: 1.125rem;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card .img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.card .img-1 {
  background-image: url('./images/homem1.jpg');
  background-position-x: 340px;
  background-position-y: -15px;
}

.card .img-2 {
  background-image: url('./images/homem3.jpg');
  background-position-x: 250px;
  background-position-y: -30px;
}

.card .img-3 {
  background-image: url('./images/homem2.jpg');
  background-position-x: 325px;
  background-position-y: -5px;
}

.card p {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  line-height: 20px;
}

.card h3 {
  font-weight: 900;
  font-size: 1rem;
  color: #6c63ff;
}

.hamburger {
  visibility: hidden;
  display: none;
}

.show {
  visibility: visible;
  display: inline;
}

@media (max-width: 1000px) {
  #home {
    flex-direction: column-reverse;
  }
}
